/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.2.2
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0; margin-top:25px;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}


/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.2.2
*/
body {font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}pre, code {font:115% monospace;*font-size:100%;}body * {line-height:1.22em;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}
html, body {
min-height: 100%;
height: auto !important;
height: 100%
}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
}
#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color:#666666;
}
#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
  position: absolute;
  z-index:100;
  top: 0px;
  left: 0px;
  background-color:#000;
  filter:alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
#TB_window {
  position: absolute;
  background: #ffffff;
  z-index: 102;
  color:#000000;
  display:none;
  border: 4px solid #525252;
  text-align:left;
}
#TB_window img {
  display:block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}
#TB_caption{
  height:25px;
  padding:7px 30px 10px 25px;
  float:left;
}
#TB_closeWindow{
  height:25px;
  padding:11px 25px 10px 0;
  float:right;
}
#TB_closeAjaxWindow{
  padding:5px 10px 7px 0;
  margin-bottom:1px;
  text-align:right;
  float:right;
}
#TB_ajaxWindowTitle{
  float:left;
  padding:7px 0 5px 10px;
  margin-bottom:1px;
}
#TB_title{
  background-color:#e8e8e8;
  height:27px;
}
#TB_ajaxContent{
  clear:both;
  padding:2px 15px 15px 15px;
  overflow:auto;
  text-align:left;
  line-height:1.4em;
}
#TB_ajaxContent p{
  padding:5px 0px 5px 0px;
}
#TB_load{
  position: absolute;
  display:none;
  height:100px;
  width:100px;
  z-index:101;
}
#TB_HideSelect{
  z-index:99;
  position:absolute;
  top: 0;
  left: 0;
  background-color:#fff;
  border:none;
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}
#TB_iframeContent{
  clear:both;
  border:none;
  margin-bottom:-1px;
  margin-top:1px;
  _margin-bottom:1px;
}

/* Re-reset defaults from YUI reset above */

h1, h2, h3, h4, h5, h6, p, pre,
blockquote, label, ul, ol, dl, fieldset, address {
margin: 1em 0;
}
ul, ol {
padding-left:2em;
list-style: square;
}
li, dd, blockquote {
margin-left: 5%;
}
form label {
}
fieldset {
border: none;
padding: .5em;
}
input, select, textarea {
font-size: 100%;
}

b, strong,h1,h2,h3,h4,h5,h6{
	font-weight:bold;
}

h1,h2,h3,h4,h5,h6{
	display:block;
}

/************************************/

/*
.container {
    width: 600px;
    height: 800px;
}

blockquote {

}

body {
    width: 700px;
}

.leftcolumn {
    position:absolute;
    left: 10px;

}

.rightcolumn {
    position:relative;
    left: 250px;
    width: 500px;
}

.fullwidth {
    width: 700px;
}

ol.ol1 {
    list-style-type: lower-alpha;
}

.introimagecaption {
    font-size: 12px;
    font-weight:bold;
}

.sidebar {
    position: absolute;
    left:0px;
    font-size: 12px;
}

.center {
    border-left: 1px solid #c9ab78;
    border-right: 1px solid #c9ab78;
    position: relative;
    left:150px;
    padding: 20px;
    width: 350px;

}

.sectiontitle {
    color: #996600;
    background-color:white;
}

li.numeric {
    list-style-type:decimal;
}

.introessay {
    width: 600px;
}

table.maps {

}

li.arrow {
    list-style-position: outside;
    list-style-image: url(layout/arrow.gif);
    list-style-type: square;
    font-size: 15px;
}

li.selectedItem > span {
     background-color:#FFCC66;
     font-weight:bold;
}

.imageResource {
  position: relative;
}

.iiImage {
  background-color:white;
  color:green;
  position: relative;
  left:10px;
}

.iiNav {*/
  /*position: absolute;*/
  /*left:300px;
  top: 40px;
}

.iiDesc {*/
  /*position: absolute;*/
  /*left:400px;
  top: 40px;
  text-align:left;
  width: 500px;
}

li {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
    white-space: nowrap;
}

div.topheading {
    font-size: 20px;
    font-weight: bold;
    margin-left: -100px;
}

div.heading {
    font-size: 16px;
    font-weight: bold;
    margin-left: -30px;
}

.sitemap {
	margin-left: 200px; 
	padding-left: 24px;
}

.sitemap_menu {
	margin-left: 100px; 
	padding-left: 24px;
}

div.menu {
    overflow: auto;
    left: 15px;
    top: 1px;
    font-size: 13px;

}

span.title {

}

a.title {
    color: #993300;
    background-color:white;
        font-size: 18px;
}

div.mainimage {
    overflow: auto;
    position: fixed;
    width: 800px;
    height: 505px;
    top: 10px;
    right: auto;
    bottom: 100px;
    margin-left: 200px;
    border-bottom: 2px solid #433427;
}

div.imagelist {
    overflow: auto;
    position: fixed;
    width: 800px;
    height: 300px;
    top: 10px;
    right: auto;
    bottom: 100px;
    margin-left: 200px;
    margin-top: 510px;
}

div.plan {
    overflow: auto;
    position: fixed;
    width: 200px;
    left: 10px;
    height: 150px;
    margin-top: 400px;
    border-right: 2px solid #433427;
    border-top: 2px solid #433427;
}

td {
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
}

.header {
	padding: 0px;
	width: 100%;
}

.guidetitle {
	padding-bottom: 20px;
	font-size: 14px;
}

.sectiontitle {
    font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
}

.description {
    font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}

.columnOne {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	width: 170px;
	float: left;
	background-image: url(images/leftBarBg.jpg);
	background-repeat: repeat-y;
	text-align: left;
	margin-left: 12px;
	margin-top: 12px;
	padding-left: 6px;
	padding-top: 6px;
	margin-right: 0px;
	padding-right: 0px;
}
 
.footer {
     clear: both;
}

div { page-break-after: always; }

*/

/************************/
.jqHandle {
	 background: red;
	 height:15px;
}

.jqDrag {
	width: 100%;
	cursor: move;
}

.jqResize {
	 width: 15px;
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 cursor: se-resize;
}

.jqDnR {
    z-index: 10;
    position: absolute;
    
    font-size: 0.77em;
    margin: 5px 10px 10px 10px;
    padding: 8px;
    background-color: #EEE;
    border: 1px solid #CCC;
}

/*****************************************/

a > img{
	border:none;
}

a:link {
	color: #990000;
}

a:visited {
   	color: #663300;
}

a:hover {
    color: #000000;
}

table tr td{
	vertical-align:top;
	padding: 10px 0;
}

.caption{
	display:block;
	line-height:100%;
	font-size:90%;
	font-style: italic;
	color:#444444;
}

#sectionIntroImage{
	padding-right:10px;
	width:1px;
}

#sectionIntroMenu ul{
	margin:0;
	padding:0;
	list-style:none;
}

#wrap{
	/* this is set to the width of the main header */
	width:570px;
}

#content{
	padding:5px 20px 5px 20px;
}

#footer p{
	padding:0px 20px 0px 20px;
	font-size:80%;
}

li.selectedItem > span {
	background-color:#FFCC66;
	font-weight:bold;
	display:block;
	padding:2px;
}

#sectionIntroMenu ul{
	margin-left:10px;
}
#sectionIntroMenu ul li{
	list-style:disc;
	color:#652220;
	font-size:80%;
	font-weight:bold;
	margin-bottom:5px;
	text-transform:uppercase;
}
#sectionIntroMenu a{
	margin-left:-4px;
	display:block;
	color:#666666;
	text-decoration:none;
}
#sectionIntroMenu a:hover{
	color:#7C352F;
}

#sectionIntroMenu ul li ul{
	font-size:125%;
}

/* this prevents the text inside of the link from touching the left edge */
.archiveMenu li > a {
	padding:2px;
}

ol li{
	margin-left:-1em;
}

ul.archiveMenu li{
font-size:90%;
margin: .2em 0 .2em 0;
padding: 0;
}

/* archiveMenuList */
.archiveImageList{
	margin-left:-2em;
}
.archiveImageList li{
	list-style-type: none;
}
.archiveImageList li table{
	margin-bottom:1em;
}
.archiveImageList li table td{
	font-size:85%;
}
.archiveImageList li table tr td img{
	padding-right:10px;
}

.rightAlignedImage{
margin:0 0 10px 10px;
}

.leftAlignedImage{
margin:0 10px 10px 0;
}

.notice {
color: #972B28;
font-size: 14px;
}

.notice a:visited {
color: #972B28;
}

a[href="/pdf/PZBSalisburyChapterHouse.pdf"] {
background: url('/images/pdf.gif') 0 0 no-repeat;
padding-left: 20px;
padding-bottom: 5px;
}

#content.ext-tour table tr td {
	padding: 0;
}

#content.ext-tour table tr td a {
	float: left;
}

#content .sectiontitle {
	font-weight: bold;
	font-variant: small-caps;
}

#archive-banner {
    padding: 20px;
    background-color: #aadbff;
    font-size: 1.6em;
    border: 2px solid #77b9dd;
}
